@import "bower_components/Semantic-UI-LESS-1/semantic.less";
@import "fonts.less";

@sidebar: #50170e;
@maincolor: #722D23;

.hide {
  display: none;
}

body {
  background: url(../images/bober_bg.jpg) repeat;
}

body.dashboard {
  background: #FFF;
}

body.dashboard {
  background: #F4F7FA;
}

#welcome {
  position: fixed;
  left: 50%;
  top: 40%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 50px 40px;
  width: 450px;
  box-shadow: 3px 4px 6px #333;

  .ui.button.main {
    background-color: #722D23 !important;
    color: #fff;
  }

  h1 {
    font-family: 'Roboto';
    color: @maincolor;
    font-size: 45px;
  }
  // p {
  //   font-size: 20px;
  //   margin-top: -15px;
  //   font-weight: 400;
  //   margin-bottom: 20px;
  //   color: #333;
  // }

  // button, .field{
  //   border: 1px solid @maincolor;
  //   background-color: white;
  //   padding: 15px 50px;
  //   height: 60px;
  //   border-radius: 40px;
  //   color: @maincolor;
  //   font-size: 20px;
  //   -webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //      -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //        -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //           transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  // }

  // .field {
  //   width: 250px;
  //   margin: 0 auto;
  //   position: relative;
  //   overflow: hidden;
  //   -webkit-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //      -moz-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //        -o-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //           transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //   i {
  //     &.icon-mail {
  //       padding: 8px 12px;
  //     }

  //     &.icon-key {
  //       padding: 8px 13px;
  //     }

  //     &.icons {
  //       position: absolute;
  //       left: 0px;
  //       font-size: 30px;
  //       border: 1px solid @maincolor;
  //       border-radius: 40px;
  //       margin-top: -15px;
  //       -webkit-transition: left 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //          -moz-transition: left 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //            -o-transition: left 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //               transition: left 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  //     }
  //     &.submit {
  //       right: 11px;
  //       position: absolute;
  //       background-color: #eee;
  //       padding: 6px 9px;
  //       border-radius: 45px;
  //       margin-top: -5px;
  //       cursor: pointer;
  //       z-index: 10;
  //     }

  //     &.ishadow {
  //       &:before {
  //         content: ' '
  //       }
  //       padding: 28px 29px;
  //       position: absolute;
  //       left: 0;
  //       border-radius: 40px;
  //       margin-top: -15px;
  //       border: 1px solid lighten(@maincolor, 20%);
  //     }
  //   }

  //   label {
  //     position: absolute;
  //     left: 76px;
  //     z-index: 5;
  //     margin-top: -11px;
  //     color: #888;
  //     font-weight: 500;
  //     font-size: 14px;
  //   }

  //   input {
  //     border: none;
  //     position: absolute;
  //     left: 70px;
  //     background: transparent;
  //     margin-top: 4px;
  //     font-size: 18px;
  //     color: @maincolor;
  //     font-family: 'Roboto Mono';
  //     width: 108px;
  //     &:focus {
  //       outline: none;
  //       border-color: white;
  //       box-shadow: none
  //     }
  //   }
  // }
}

.navbar.fixed {
  border-bottom: 1px solid #ccc;
  box-shadow: 1px -1px 5px #ccc;
  padding: 8px 20px 8px 120px;
  position: fixed;
  width: 100%;
  background-color: #FFF;
  z-index: 10;

  ul {
    list-style: none;
    padding-left: 0;
    &.right {
      float: right;
      line-height: 45px;
      padding-right: 20px;
    }
    &.left {
      float: left;
    }
    li {
      display: inline-block;
      margin-left: 20px;
      font-size: 18px;

      .button.search {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -3px;
      }

      .button:not(.search) {
        display: inline-block;
        position: absolute;
        padding: 18px;
        top: 22px;
        padding: 15px 20px;
        background-color: @maincolor;
        span {
          display: inline-block;
          margin-top: -6px;
          vertical-align: middle;
        }
      }
    }
  }

  i {
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
    &.icon {
      font-size: 16px;
    }
  }
}

.sidebar {
  background: @sidebar none repeat scroll 0 0;
  bottom: 0;
  position: fixed;
  top: 0;
  width: 100px;
  z-index: 12;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 15px 10px;
      text-align: center;
      cursor: pointer;

      &.active, &:hover {
        background-color: @maincolor;
        p, i {
          color: #FFF;
        }
      }
      &:hover {
        background-color: darken(@maincolor, 5%)
      }


      p, i {
        color: lighten(@sidebar, 60%);
      }
      p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0;
      }
      i {
        font-size: 35px;
      }
    }
  }
}

#content {
  padding: 80px 0 0 86px;
  overflow-x: hidden;
  > div > div {
    > .row {
      padding-bottom: 0;
    }
  }
  .list {
    cursor: pointer;
    .item {
      &:hover, &.active {
        background: #FFF;
        border-right: 4px solid @maincolor;
      }
      &.active {
        padding-left: 0px;
      }
      .content {
        padding: 10px 0;
      }

      i {
        font-size: 30px;
        padding-left: 10px;
        padding-top: 17px;
      }
    }
  }

  .content-list {
    padding-right: 0;
  }

  .content-workspace {
    background-color: #FFF;
    border-left: 1px solid rgba(39, 41, 43, 0.15);
    padding: 30px;

    h2 {
      margin-top: 0;
    }

    label{
      &.error {
        color: red;
        margin-bottom: 5px;
        bottom: -23px;
        left: 0;
        position: absolute;
        font-weight: normal;
      }
    }
  }
}

.is-today .pika-button {
  color: @maincolor;
}

.is-selected .pika-button {
  background: @maincolor;
  box-shadow: inset 0 1px 3px darken(@maincolor, 10%);
}

.transparent {
  opacity: 0 !important;
}

.entry-form {
  .field {
    margin-bottom: 20px !important;
    position: relative;
  }

  input, select, textarea {
    &.error {
      border-color: red !important;
    }
  }
}

input#search {
  width: 200px;
}

#filter-select {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -10px;
}

.ui.form textarea:not([rows]) {
  height: auto;
}

div.autocomplete {
  & > ul {
    background: none repeat scroll 0 0 #fff;
    border-color: rgba(34, 36, 38, 0.35);
    box-shadow: 0 4px 5px #ddd;
    margin: -2px 0 0;
    padding-left: 0;

    & > li {
      padding-left: 10px;
    }
  }
}

#filter-select {
  min-width: 140px;
}

.drop-box {
  border: 5px dashed #ddd;
  height: 400px;
  padding: 2px;
  position: relative;
  text-align: center;

  &.dragover {
    border-color: #333;
  }

  &.active {
    border: 1px solid #ddd;
  }

  p.holder {
    padding-top: 85px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.red {
  color: red;
  border-color: red;
}

p.error {
  margin: 0 !important;
}

button.delete.picture {
  bottom: 5px;
  left: 5px;
  position: absolute;
  z-index: 1000;
}

.error {
  color: red !important;
  border-color: red !important;
}

.transparent {
  opacity: 0 important;
}

.padding > .column {
  padding: 20px;
  padding-left: 30px !important;
  padding-right: 0 !important;
}

.padding > .column:nth-child(2n) {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.one.column.padding {
  padding: 40px 20px 30px 30px !important;

  .content-workspace {
    position: absolute;
    right: -70px;
    top: -12px;
    width: 0% !important;

    -webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
         -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
            transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);

    &.active {
      box-shadow: 0px 4px 16px #333 !important;
      width: 50% !important;
      right: -20px !important;
    }
  }
}

.floated.right.filters {
  float: right;
  margin-top: -70px;
  .dropdown {
    width: 50px !important;
    float: left;
    margin-right: 10px;
  }
  input {
    width: 150px !important;
    float: left;
    margin-right: 10px;
    &.data {
      width: 300px !important;
    }
    &.button {
      width: 100px !important;
    }
  }
}

.my.floated.right {
  float: right;
  margin-top: -45px;
}