<nav class="sidebar">
    <ul>
        <li ui-sref-active="active" ui-sref="app.dashboard">
          <i class="icon-home"></i>
          <p>Dashboard</p>
        </li>

        <li ui-sref-active="active" ui-sref="app.restricted.users">
          <i class="icon-user"></i>
          <p>Users</p>
        </li>

        <li>
          <i class="icon-briefcase"></i>
          <p>Tenants</p>
        </li>

        <li>
          <i class="icon-settings"></i>
          <p>Settings</p>
        </li>
    </ul>
</nav>