<div class="main-container cf" ng-if="orders.length > 0">
  <div class="order-container" ng-repeat="order in orders" >
    <div class="order-inner-container">
      <h1>Pesanan 253</h1>
      <ul class="items-list">
        <li class="item" ng-repeat="item in order.products">
          <div class="item-properties cf">
            <p class="item-quantity">{{item.quantity}}</p>
            <h2 class="item-name">{{item.name}}</h2>
          </div>
          <ul class="notes-list">
            <li class="note" ng-repeat="note in item.note">{{note}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <a href="" class="btn-done"></a>
  </div>
</div>

<div ng-if="orders.length <= 0">
  <h1 style="padding: 20px">There are no order yet :)</h1>
</div>